# Network and endpoints
HOMEPAGE_VAR_ADGUARD_URL=
HOMEPAGE_VAR_BAZARR_URL=
HOMEPAGE_VAR_IMMICH_URL=
HOMEPAGE_VAR_JELLYFIN_URL=
HOMEPAGE_VAR_PROWLARR_URL=
HOMEPAGE_VAR_PROXMOX_API_URL=
HOMEPAGE_VAR_QBITTORRENT_URL=
HOMEPAGE_VAR_RADARR_URL=
HOMEPAGE_VAR_SEERR_URL=
HOMEPAGE_VAR_SONARR_URL=
HOMEPAGE_VAR_SPEEDTEST_URL=
HOMEPAGE_VAR_TDARR_URL=

# Application settings
HOMEPAGE_VAR_ADGUARD_USERNAME=
HOMEPAGE_VAR_AUTHENTIK_WIDGET_KEY=
HOMEPAGE_VAR_BAZARR_WIDGET_KEY=
HOMEPAGE_VAR_HA_WIDGET_KEY=
HOMEPAGE_VAR_IMMICH_WIDGET_KEY=
HOMEPAGE_VAR_JELLYFIN_WIDGET_KEY=
HOMEPAGE_VAR_PROXMOX_HREF=
HOMEPAGE_VAR_PROXMOX_USERNAME=
HOMEPAGE_VAR_QBITTORRENT_USERNAME=
HOMEPAGE_VAR_RADARR_WIDGET_KEY=
HOMEPAGE_VAR_SEERR_WIDGET_KEY=
HOMEPAGE_VAR_SONARR_WIDGET_KEY=
HOMEPAGE_VAR_SPEEDTEST_WIDGET_KEY=
HOMEPAGE_VAR_TDARR_WIDGET_KEY=
PROXMOX_NODE=

# Secrets
HOMEPAGE_VAR_ADGUARD_PASSWORD=
HOMEPAGE_VAR_PROWLARR_API_KEY=
HOMEPAGE_VAR_PROXMOX_PASSWORD=
HOMEPAGE_VAR_QBITTORRENT_PASSWORD=
