# Runtime
HOMEPAGE_PGID=
HOMEPAGE_PUID=
HOMEPAGE_UMASK=
HOMEPAGE_VAR_TIMEZONE=

# Network and endpoints
HOMEPAGE_VAR_ACTUAL_BUDGET_URL=
HOMEPAGE_VAR_ADGUARD_URL=
HOMEPAGE_VAR_AUTHENTIK_URL=
HOMEPAGE_VAR_BAZARR_URL=
HOMEPAGE_VAR_BOOKMARK_1337X_URL=
HOMEPAGE_VAR_BOOKMARK_ANIMEPAHE_URL=
HOMEPAGE_VAR_BOOKMARK_AWS_URL=
HOMEPAGE_VAR_BOOKMARK_BLACKBOARD_URL=
HOMEPAGE_VAR_BOOKMARK_CLOUDFLARE_URL=
HOMEPAGE_VAR_BOOKMARK_DEV_PROFILE_URL=
HOMEPAGE_VAR_BOOKMARK_EPIC_GAMES_URL=
HOMEPAGE_VAR_BOOKMARK_GITHUB_URL=
HOMEPAGE_VAR_BOOKMARK_GOOGLE_SHEETS_URL=
HOMEPAGE_VAR_BOOKMARK_HNB_ONLINE_BANKING_URL=
HOMEPAGE_VAR_BOOKMARK_HOME_NETWORK_URL=
HOMEPAGE_VAR_BOOKMARK_IIT_GMAIL_URL=
HOMEPAGE_VAR_BOOKMARK_LINKEDIN_URL=
HOMEPAGE_VAR_BOOKMARK_OFFICE365_URL=
HOMEPAGE_VAR_BOOKMARK_PAHE_URL=
HOMEPAGE_VAR_BOOKMARK_PERSONAL_GMAIL_URL=
HOMEPAGE_VAR_BOOKMARK_PIRATE_BAY_URL=
HOMEPAGE_VAR_BOOKMARK_SEZ_URL=
HOMEPAGE_VAR_BOOKMARK_STUDENT_HUB_URL=
HOMEPAGE_VAR_BOOKMARK_TODAYTV_URL=
HOMEPAGE_VAR_BOOKMARK_TV_TIME_URL=
HOMEPAGE_VAR_BOOKMARK_TWITCH_URL=
HOMEPAGE_VAR_BOOKMARK_VALORANT_URL=
HOMEPAGE_VAR_BOOKMARK_WORK_CHATGPT_URL=
HOMEPAGE_VAR_BOOKMARK_WORK_CLAUDE_URL=
HOMEPAGE_VAR_BOOKMARK_WORK_GMAIL_URL=
HOMEPAGE_VAR_BOOKMARK_WORK_GOOGLE_CALENDAR_URL=
HOMEPAGE_VAR_BOOKMARK_YOUTUBE_URL=
HOMEPAGE_VAR_BOOKMARK_YTS_URL=
HOMEPAGE_VAR_BOOKMARK_ZOHO_PEOPLE_URL=
HOMEPAGE_VAR_CALENDAR_URL=
HOMEPAGE_VAR_DOCKHAND_API_URL=
HOMEPAGE_VAR_DOCKHAND_STATS_URL=
HOMEPAGE_VAR_DOCKHAND_URL=
HOMEPAGE_VAR_HOME_ASSISTANT_URL=
HOMEPAGE_VAR_ICAL_URL=
HOMEPAGE_VAR_IMMICH_URL=
HOMEPAGE_VAR_JELLYFIN_URL=
HOMEPAGE_VAR_ONLYOFFICE_URL=
HOMEPAGE_VAR_PROWLARR_URL=
HOMEPAGE_VAR_QBITTORRENT_URL=
HOMEPAGE_VAR_RADARR_URL=
HOMEPAGE_VAR_SEAFILE_URL=
HOMEPAGE_VAR_SEERR_URL=
HOMEPAGE_VAR_SIYUAN_URL=
HOMEPAGE_VAR_SONARR_URL=
HOMEPAGE_VAR_SPEEDTEST_URL=
HOMEPAGE_VAR_TDARR_URL=
HOMEPAGE_VAR_VAULTWARDEN_URL=

# Application settings
HOMEPAGE_VAR_GREETING_TEXT=
HOMEPAGE_VAR_OPENWEATHER_LATITUDE=
HOMEPAGE_VAR_OPENWEATHER_LONGITUDE=
HOMEPAGE_VAR_PROXMOX_HREF=

# Secrets
HOMEPAGE_VAR_OPENWEATHER_API_KEY=
